/******************************************************************************
*******************************************************************************
Presentation style sheet for Toronto Mesh Showoff presentations
Author: Toronto Mesh (@dcwalk)
Version: v0.5
Date: 2016-07-04
License: CC BY-SA 4.0 International
         (https://creativecommons.org/licenses/by-sa/4.0/)
*******************************************************************************
******************************************************************************/
body
{
    font-family: "Work Sans",Helvetica,Arial,sans-serif;
}

#footer
{
    display: none;
}

.content {
    margin-left: 5px;
    margin-right: 5px;
}

.left *{
    text-align: left !important;
}

.title .content p, .title .content h1 {
    text-align: left !important;
    margin-left: 0px;
}

.bullets .content ul {
    text-align: left !important;
    list-style-type: circle;
    list-style-position: outside;
}

.bullets .content li {
    text-align: left !important;
    padding: 15px
}
